


.blog-img1 {
    background: linear-gradient(90deg,transparent 70%), no-repeat;
    height: 450px;   
}
.blog-img2 {
    top: 20px;
    height: 200px;
    left: 80%;
}
.sticker{
    top: 100px;
}
.line{
    width: 30px;
    height: 0;
    border: 1px solid white;
}
.sticker1{
    font-size:5rem;

}