


.blog-img1 {
    background: linear-gradient(90deg,transparent 70%), no-repeat;
    height: 600px; 
    
}
.blog-img2 {
   
    height: 200px;
  
}
.sticker{
    top: 50px;
    right: 50px;
    left: 40%;
    direction: rtl; 
}
.line{
    width: 30px;
    height: 0;
    border: 1px solid white;
}
.sticker1{
    font-size:5rem;

}