@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Serif+4:ital,opsz,wght@1,8..60,500&display=swap');


:root{
    --main-color:#B8860B;
    --gray:#A9A9A9;
    --white:rgb(241, 246, 247);
    --light-color:#666;
    --dark-color: #8B008B;
    --bright-color:#d4f1f1cf;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgb(0,0,0,.1);
}
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-color);
}






.blog-img1 {
    background: linear-gradient(90deg,transparent 70%), no-repeat;
    height: 550px; 
    
}
.blog-img2 {
    height: 200px;
}
.sticker{
    top: 50px;
    right: 50px;
    left: 40%;
    direction: rtl; 
}
.line{
    width: 30px;
    height: 0;
    border: 1px solid white;
}
.sticker1{
    font-size:5rem;
    right: 200px;

}
.sticker2-1{
   bottom: 200px;
   right: 70rem;
}
.sticker2-2{
    bottom: 200px;
    direction: rtl;
    left: 60%;
}
.sticker2-3{
    bottom: 250px;
    direction: rtl;
    left: 30%;
}
.carousel-item-img{
    height: 550px;
}
.p2-right{
    background-color: var(--main-color);
}
.p2-left{
    background-color:var(--light-color);
}
.container .p2-side1{
background-color: var(--gray);
}
.container .p2-side2{
    background-color: var(--main-color);
    }
.container .p2-side3{
    background-color: var(--light-color);
}
.pg1part3{
    background-color: var(--gray);
}
.circleimage{
    width: 20px;
    height: 20px;
}
.cardP4{
    background-color: var(--light-color);
}
.cardP5bg{
    background-color: var(--white) ;
}
.CardP5 .number{
    font-size: 10rem;
    color: rgba(142, 147, 148, 0.2);
   
}
 .cardP6 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}